/* You can add global styles to this file, and also import other style files */
@import 'bootstrap/scss/bootstrap';
@import 'bootstrap-icons/font/bootstrap-icons.css';

:root {
  --bs-body-bg: #f8f9fa;
}

body {
  font-family: var(--bs-body-font-family);
  background-color: var(--bs-body-bg);
}
