<div class="border p-3 rounded mb-3">
  <h5>Embedded Form</h5>
  <p>Form content will be loaded here.</p>
  <% if (element.formId) { %>
    <a href="/engage/forms/<%= element.formId %>" class="btn btn-primary">Go to Form</a>
  <% } %>
</div>
